<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
    />
  </head>
  <script src="./vue.js"></script>
  <script src="./utils.js"></script>
  <link href="./index.css" rel="stylesheet" />
  <body>
    <div id="app" class="content">
      <div class="header">
        <div class="header-title">活动提醒设置</div>
        <div class="header-list">
          <div
            class="header-list-item"
            @click="handleChange(1)"
            :class="index==1?'list-item-active':''"
          >
            <span>日程规划</span>
            <div :class="index==1?'list-item-active-line':''"></div>
          </div>
          <div
            class="header-list-item"
            @click="handleChange(2)"
            :class="index==2?'list-item-active':''"
          >
            <span>日程列表</span>
            <div :class="index==2?'list-item-active-line':''"></div>
          </div>
        </div>
        <div class="main">
          <div class="calendar-content">
            <div class="cal-header-year">
              <div class="cal-header-year-item">
                <div>{{dateYear}}年</div>
                <div
                  class="trangle-right"
                  @click="handleShowYear(!yearVisible)"
                ></div>
                <div class="month-select-list" v-if="yearVisible">
                  <div
                    v-for="item in yearList"
                    :key="item"
                    @click="handleChangeYearMonth(item,dateMonth)"
                  >
                    {{item}}年
                  </div>
                </div>
              </div>
              <div class="cal-header-year-item">
                <div>{{dateMonth}}月</div>
                <div
                  class="trangle-right"
                  @click="handleShowMonth(!monthVisible)"
                ></div>
                <div class="month-select-list" v-if="monthVisible">
                  <div
                    v-for="item in 12"
                    :key="item"
                    @click="handleChangeYearMonth(dateYear,(item))"
                  >
                    {{item}}月
                  </div>
                </div>
              </div>
            </div>
            <div class="calendar-header">
              <div class="cal-header-left">
                <div
                  class="cal-header-left-item"
                  :class="tabIndex==1?'cal-header-left-item-acitve':''"
                  @click="handleChangeTab(1)"
                >
                  日历
                </div>
                <div
                  class="cal-header-left-item"
                  :class="tabIndex==2?'cal-header-left-item-acitve':''"
                  @click="handleChangeTab(2)"
                >
                  列表
                </div>
              </div>
            </div>
            <div class="calendar-list">
              <table
                v-if="tabIndex==1"
                width="100%"
                style="table-layout: fixed"
              >
                <tbody>
                  <tr class="calendar-list-title">
                    <td
                      class="calendar-list-title-item"
                      v-for="(item,index) in listTitle"
                      :key="index"
                    >
                      <div>{{item.text}}</div>
                    </td>
                  </tr>
                  <tr
                    class="calendar-list-content"
                    v-for="item in calendarList"
                  >
                    <td
                      v-for="tdItem in item.data"
                      :class="selectDateIndex == tdItem.id ? tdItem.showClassName + ' calendar-active' : tdItem.showClassName "
                      @click="handleDateChange(dateYear,dateMonth,tdItem) "
                    >
                      <div
                        v-if="tdItem.isHaveEvent && selectDateIndex == tdItem.id"
                        class="is-have-event-white"
                      ></div>
                      <div
                        v-if="tdItem.isHaveEvent && !(selectDateIndex == tdItem.id)"
                        class="is-have-event-primary"
                      ></div>
                      {{tdItem.showNum}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <div v-if="tabIndex==2" class="event-list">
                <!-- TODO:列表开发 -->
                <div
                  v-for="item in eventCalendarList"
                  :key="item.index"
                  @click="handleDateChange(dateYear,dateMonth,item) "
                >
                  <div
                    v-if="item.isHaveEvent"
                    class="flex-row justify-between event-list-item"
                    :class="selectDateIndex == item.id ? 'event-list-item-active':''"
                  >
                    <div
                      v-if="showEventList(dateYear,dateMonth,item).startInfo"
                    >
                      <div>
                        {{showEventList(dateYear,dateMonth,item).startInfo.person}}
                        |
                        {{showEventList(dateYear,dateMonth,item).startInfo.eventName}}
                      </div>
                      <div class="event-list-item-date">
                        {{showEventList(dateYear,dateMonth,item).startInfo.date}}
                        --
                        {{showEventList(dateYear,dateMonth,item).endInfo.date}}
                      </div>
                    </div>
                    <div>{{dateYear}}年{{dateMonth}}月{{item.showNum}}日</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="list-event-name">我的事件</div>
        <div class="list-event">
          <div class="list-event-date">{{eventTitleDate}}</div>
          <div v-if="startInfo||endInfo">
            <div class="list-event-start">
              <div class="list-event-start-date">开始：{{startInfo.date}}</div>
              <div
                class="list-event-start-afterdate"
                :class="startInfo.isDelay ? 'unactive':''"
              >
                {{startInfo.afterDate}}
              </div>
            </div>
            <div class="list-event-start-content">
              {{startInfo.person}} ({{startInfo.reason}}) |
              {{startInfo.eventName}}
            </div>

            <div class="list-start-to-end"></div>
            <div class="list-event-end">
              <div class="list-event-end-date">结束：{{endInfo.date}}</div>
              <div
                class="list-event-end-afterdate"
                :class="endInfo.isDelay ? 'unactive':''"
              >
                {{endInfo.afterDate}}
              </div>
            </div>

            <div class="list-event-start-content">
              {{startInfo.person}} ({{startInfo.reason}}) |
              {{startInfo.eventName}}
            </div>
          </div>
          <div v-else>
            <div class="no-event-text">暂无数据</div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footer-menu-text-single width100">
          <button class="footer-menu-text-btn width100" @click="handleGotoAdd">
            计划
          </button>
        </div>
      </div>
    </div>
  </body>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        message: "Hello Vue!",
        index: 1,
        tabIndex: 1,
        dateYear: "2020",
        dateMonth: "11",
        yearVisible: false,
        monthVisible: false,
        dateTitle: "2020年11月",
        menuId: 3,
        yearList: [],
        listTitle: [
          {
            text: "周一",
          },
          {
            text: "周二",
          },
          {
            text: "周三",
          },
          {
            text: "周四",
          },
          {
            text: "周五",
          },
          {
            text: "周六",
          },
          {
            text: "周日",
          },
        ],
        eventTitleDate: "2020年11月25日",
        // startInfo: {
        //   date: "09:00上午",
        //   person: "高智强",
        //   reason: "原因",
        //   eventName: "开主题会议",
        //   afterDate: "已超过40分钟",
        //   isDelay: true,
        // },
        // endInfo: {
        //   date: "15:00下午",
        //   person: "高智强",
        //   reason: "原因2",
        //   eventName: "开主题会议22",
        //   afterDate: "还有30分钟",
        //   isDelay: false,
        // },
        startInfo: null,
        endInfo: null,
        calendarList: [],
        eventCalendarList: [],
        selectDateIndex: "",
      },
      mounted() {
        this.init();
      },
      methods: {
        init() {
          let date = new Date();
          this.dateYear = date.getFullYear();
          this.dateMonth = date.getMonth() + 1;
          this.calendarList = this.getYearMonth(this.dateYear, this.dateMonth);
          this.yearList = this.setYearList();
          console.log("daadadad", window.setData(33333));
        },
        handleChange(index) {
          this.index = index;
        },
        handleChangeTab(index) {
          this.tabIndex = index;
        },
        is_leap(year) {
          //判断是否为闰年
          return year % 100 == 0
            ? year % 400 == 0
              ? 1
              : 0
            : year % 4 == 0
            ? 1
            : 0;
        },
        // 根据年月判断是月份的第一天是星期几
        getWeek(year, month, day) {
          var d = new Date();
          d.setYear(year);
          d.setMonth(month - 1);
          d.setDate(day);
          // console.log(d, "dfadafd", d.getDay());
          //获得周几
          // var weeks = ["周天", "周1", "周2", "周3", "周4", "周5", "周6"];
          var weeks = [7, 1, 2, 3, 4, 5, 6];
          return weeks[d.getDay()];
        },
        getYearMonth(year, month) {
          //月的天数数组，days[moth] 就可以调用某一年某一月的天数
          var days = new Array(
            31,
            28 + this.is_leap(year),
            31,
            30,
            31,
            30,
            31,
            31,
            30,
            31,
            30,
            31
          );
          let months = month - 1;
          let firstWeek = this.getWeek(year, month, 1);
          let lastWeek = this.getWeek(year, month, days[months]);
          let currentDay = new Date().getDate();
          let currentKey;
          let data = [];
          let randomNum = this.getRandomNum(5, days[months]);
          console.log("dddddrandomNum===", randomNum);
          if (firstWeek !== 1) {
            for (
              let i = days[months - 1];
              i > days[months - 1] - firstWeek + 1;
              i--
            ) {
              data.unshift({
                showNum: i,
                showClassName: "calendar-list-content-item unactive",
              });
            }
          }

          for (let i = 0; i < days[months]; i++) {
            if (currentDay === i + 1) {
              currentKey = data.length;
            }
            data.push({
              showNum: i + 1,
              showClassName:
                randomNum.indexOf(i + 1) > -1
                  ? "calendar-list-content-item is-have-event"
                  : "calendar-list-content-item",
              id: i + 1,
              isHaveEvent: randomNum.indexOf(i + 1) > -1,
            });
          }
          if (lastWeek !== 7) {
            for (let i = 0; i < 7 - lastWeek; i++) {
              data.push({
                showNum: i + 1,
                showClassName: "calendar-list-content-item unactive",
              });
            }
          }
          let result = [];
          let len = Math.ceil(data.length / 7);
          for (let i = 0; i < len; i++) {
            result.push({
              data: data.slice(i * 7, (i + 1) * 7),
            });
          }
          // return data;
          this.handleDateChange(year, month, data[currentKey]);
          this.getEventList(data);
          return result;
        },
        getEventList(data) {
          let result = [];
          data.map((item) => {
            if (item.id) {
              result.push(item);
            }
          });
          this.eventCalendarList = result;
        },
        setYearList() {
          let data = [];
          let date = new Date();
          for (let i = 1901; i < date.getFullYear() + 50; i++) {
            data.push(i);
          }
          return data;
        },
        // 产生随机数据
        getRandomNum(num, maxDay) {
          let data = [];
          for (let i = 0; i < num; i++) {
            data.push(Math.ceil(Math.random() * maxDay));
          }
          return data;
        },
        handleShowYear(type) {
          this.yearVisible = type;
        },
        handleShowMonth(type) {
          this.monthVisible = type;
        },
        handleChangeYearMonth(year, month) {
          this.dateYear = year;
          this.dateMonth = month;
          this.calendarList = this.getYearMonth(year, month);
          this.handleShowYear(false);
          this.handleShowMonth(false);
          this.selectDateIndex = "";
        },
        handleDateChange(year, month, item) {
          if (item.id) {
            this.selectDateIndex = item.id;
          } else {
            this.selectDateIndex = "";
          }
          // 判断是否有活动
          this.judgeEvent(year, month, item);
        },
        judgeEvent(year, month, item) {
          if (
            item.isHaveEvent &&
            window.eventDateList[year + "-" + month + "-" + item.showNum]
          ) {
            this.startInfo =
              window.eventDateList[
                year + "-" + month + "-" + item.showNum
              ].startInfo;
            this.endInfo =
              window.eventDateList[
                year + "-" + month + "-" + item.showNum
              ].endInfo;
          } else {
            this.startInfo = null;
            this.endInfo = null;
          }
          this.eventTitleDate =
            year + "年" + month + "月" + item.showNum + "日";
        },
        showEventList(year, month, item) {
          if (window.eventDateList[year + "-" + month + "-" + item.showNum]) {
            return {
              startInfo:
                window.eventDateList[year + "-" + month + "-" + item.showNum]
                  .startInfo,
              endInfo:
                window.eventDateList[year + "-" + month + "-" + item.showNum]
                  .endInfo,
            };
          } else {
            return {
              startInfo: null,
              endInfo: null,
            };
          }
        },
        handleGotoAdd() {
          window.location.href = "add.html";
        },
      },
    });
  </script>
</html>
